body {
    display: grid;
}

body:not(.game-square) {
    background-color: #e9c46a;
}

.header {
    display: grid;
    place-self: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #264653;
}

.game-container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    place-self: center;
}

.game-square {
    width: 150px;
    height: 150px;
    border: 2.5px black solid;
    background-color: whitesmoke;
}

.game-square:hover {
    background-color: lightgrey;
}

.controller-container {
    display: grid;
    place-self: center;
    margin-top: 1%;
}

.new-game-btn {
    background-color: #2a9d8f;
    color: #264653;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 125px;
    height: 50px;
    border-radius: 5px;
}

.new-game-btn:hover {
    background-color: #227e73;
    color: #fafafa;
}

.footer {
    display: grid;
    place-self: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #264653;
}