 html {
  font-family:'Lucida Sans Unicode', 'Lucida Grande';
  font-weight: 200;
 }
 
 .header-container {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: black;
  border-radius: 5px;
 }

 .main-header {
  display: flex;
  flex-direction: left;
  text-decoration: underline;
  color: white;
  padding-left: 50px;
 }

 a {
  text-decoration: none;
  color: white;
 }

 .name-header {
  display: flex;
  padding-left: 75%;
  font-weight: 200;
 }

  .form-container {
    display: none;
    justify-content: center;
    flex-direction: center;
    width: 250px;
    height: 250px;
    margin-left: 700px;
    z-index: 10;
    position: absolute;
    margin-top: 25px;
    color:antiquewhite;
    background-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px darkgrey;
  }

  ul {
    list-style: none; 
    padding-left: 0;
  }

  .form-element {
    display: grid;
  }

  #book-submit {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 25px;
    margin-top: 25px;
  }

  #new-book-button {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: medium;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
  }

  .card-container {
    display: grid;
    grid-template-columns: 200px 200px 15px 15px;
    margin-left: 25px;
    gap: 25px; 
  }

  .card {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: black;
    color: white;
    padding-left: 25px;
  }

  .delete-book {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 25px;
  }